<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Facepost</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">Create</a>
        </li>
      </ul>
      <form *ngIf="!userIsAuthenticated" [formGroup]="loginFromGroup" class="d-flex form-inline" role="form" (ngSubmit)="onSubmit(loginFromGroup)">
        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="email">
        <input type="password" class="form-control" formControlName="password" placeholder="password">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>

      <button *ngIf="userIsAuthenticated" class="btn btn-outline-secondary" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>
